<div class="jumbotron">
    <h1>ASP.NET Web API</h1>
    <p class="lead">It is an ideal platform for building RESTful applications on the .NET Framework.</p>
  
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. </p>
       
    </div>
   
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
       
    </div>
</div>
